

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../fonts/DejaVuSansMono-webfont.eot');
    src: url('../fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansMono-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansMono-webfont.svg#DejaVuSansMonoBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBasicRegular';
    src: url('../fonts/GenBasR-webfont.eot');
    src: url('../fonts/GenBasR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasR-webfont.woff') format('woff'),
         url('../fonts/GenBasR-webfont.ttf') format('truetype'),
         url('../fonts/GenBasR-webfont.svg#GentiumBasicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBasicItalic';
    src: url('../fonts/GenBasI-webfont.eot');
    src: url('../fonts/GenBasI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasI-webfont.woff') format('woff'),
         url('../fonts/GenBasI-webfont.ttf') format('truetype'),
         url('../fonts/GenBasI-webfont.svg#GentiumBasicItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GentiumBasicBold';
    src: url('../fonts/GenBasB-webfont.eot');
    src: url('../fonts/GenBasB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasB-webfont.woff') format('woff'),
         url('../fonts/GenBasB-webfont.ttf') format('truetype'),
         url('../fonts/GenBasB-webfont.svg#GentiumBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GentiumBasicBoldItalic';
    src: url('../fonts/GenBasBI-webfont.eot');
    src: url('../fonts/GenBasBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasBI-webfont.woff') format('woff'),
         url('../fonts/GenBasBI-webfont.ttf') format('truetype'),
         url('../fonts/GenBasBI-webfont.svg#GentiumBasicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GentiumBookBasicRegular';
    src: url('../fonts/GenBkBasR-webfont.eot');
    src: url('../fonts/GenBkBasR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasR-webfont.woff') format('woff'),
         url('../fonts/GenBkBasR-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasR-webfont.svg#GentiumBookBasicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GentiumBookBasicItalic';
    src: url('../fonts/GenBkBasI-webfont.eot');
    src: url('../fonts/GenBkBasI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasI-webfont.woff') format('woff'),
         url('../fonts/GenBkBasI-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasI-webfont.svg#GentiumBookBasicItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GentiumBookBasicBold';
    src: url('../fonts/GenBkBasB-webfont.eot');
    src: url('../fonts/GenBkBasB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasB-webfont.woff') format('woff'),
         url('../fonts/GenBkBasB-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasB-webfont.svg#GentiumBookBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GentiumBookBasicBoldItalic';
    src: url('../fonts/GenBkBasBI-webfont.eot');
    src: url('../fonts/GenBkBasBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasBI-webfont.woff') format('woff'),
         url('../fonts/GenBkBasBI-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasBI-webfont.svg#GentiumBookBasicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Italic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-LightItalic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'hallo-sans';
    src: url('../fonts/Hallo sans.eot');
    src: url('../fonts/Hallo sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Hallo sans.woff2') format('woff2'),
         url('../fonts/Hallo sans.woff') format('woff'),
         url('../fonts/Hallo sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hallo-sans-black';
    src: url('../fonts/Hallo sans black.eot');
    src: url('../fonts/Hallo sans black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Hallo sans black.woff2') format('woff2'),
         url('../fonts/Hallo sans black.woff') format('woff'),
         url('../fonts/Hallo sans black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hallo-sans-light';
    src: url('../fonts/Hallo sans light.eot');
    src: url('../fonts/Hallo sans light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Hallo sans light.woff2') format('woff2'),
         url('../fonts/Hallo sans light.woff') format('woff'),
         url('../fonts/Hallo sans light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}