@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}   
   
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../fonts/DejaVuSansMono-webfont.eot');
    src: url('../fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansMono-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansMono-webfont.svg#DejaVuSansMonoBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBasicRegular';
    src: url('../fonts/GenBasR-webfont.eot');
    src: url('../fonts/GenBasR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasR-webfont.woff') format('woff'),
         url('../fonts/GenBasR-webfont.ttf') format('truetype'),
         url('../fonts/GenBasR-webfont.svg#GentiumBasicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBasicItalic';
    src: url('../fonts/GenBasI-webfont.eot');
    src: url('../fonts/GenBasI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasI-webfont.woff') format('woff'),
         url('../fonts/GenBasI-webfont.ttf') format('truetype'),
         url('../fonts/GenBasI-webfont.svg#GentiumBasicItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBasicBold';
    src: url('../fonts/GenBasB-webfont.eot');
    src: url('../fonts/GenBasB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasB-webfont.woff') format('woff'),
         url('../fonts/GenBasB-webfont.ttf') format('truetype'),
         url('../fonts/GenBasB-webfont.svg#GentiumBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBasicBoldItalic';
    src: url('../fonts/GenBasBI-webfont.eot');
    src: url('../fonts/GenBasBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBasBI-webfont.woff') format('woff'),
         url('../fonts/GenBasBI-webfont.ttf') format('truetype'),
         url('../fonts/GenBasBI-webfont.svg#GentiumBasicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBookBasicRegular';
    src: url('../fonts/GenBkBasR-webfont.eot');
    src: url('../fonts/GenBkBasR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasR-webfont.woff') format('woff'),
         url('../fonts/GenBkBasR-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasR-webfont.svg#GentiumBookBasicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBookBasicItalic';
    src: url('../fonts/GenBkBasI-webfont.eot');
    src: url('../fonts/GenBkBasI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasI-webfont.woff') format('woff'),
         url('../fonts/GenBkBasI-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasI-webfont.svg#GentiumBookBasicItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBookBasicBold';
    src: url('../fonts/GenBkBasB-webfont.eot');
    src: url('../fonts/GenBkBasB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasB-webfont.woff') format('woff'),
         url('../fonts/GenBkBasB-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasB-webfont.svg#GentiumBookBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GentiumBookBasicBoldItalic';
    src: url('../fonts/GenBkBasBI-webfont.eot');
    src: url('../fonts/GenBkBasBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenBkBasBI-webfont.woff') format('woff'),
         url('../fonts/GenBkBasBI-webfont.ttf') format('truetype'),
         url('../fonts/GenBkBasBI-webfont.svg#GentiumBookBasicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}