html {
    height: 100%;
}

body {
    margin:0;
    padding-bottom: 64px;

    background-image: url("../img/blurred_1.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    font-weight: normal;
    
    color: #4285F4;

    padding-bottom: 2px;
    border-bottom: 1px solid #DDD;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    font-weight: normal;
    
    color: #333;

    padding-bottom: 2px;
    border-bottom: 1px solid #DDD;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: bold;
    
    color: #383838;

    margin-bottom: -6px;
}

a {
    text-decoration: none;
    color: #4285F4;
}

code {
    font-family: 'Cousine';
    font-size: 0.9em;
    font-weight: normal;

    border: 1px solid #EEE;
    border-radius: 2px;
}

ol ol{
    padding-left: 20px;
}

/* ########## HEADER ########## */

#header{
    width: 100%;
    height: 42px;

    background: #FFF;
    border-top: 2px solid #0080FF;
}

#headercontent{
    width: 912px;
    height: 42px;
    margin: auto;

}

#blockstorm {
    margin-top: 5px;
    margin-right: 14px;
    
    float: left;

    //color: #FFF;
    color: #4285F4;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}

#ip {
    margin-top: 0;

    float: right;

    color: #444;
    
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}


/* ########## NAVIGATION ########## */

#navigation {
    padding-top: 12px;
    
    font-family: 'Lato', sans;
    color: #333;
}


.nav-item {
    float: left;
    
    margin-left: 14px;
    
    color: #333;
}

#active {
    color: #4285F4;
}


/* ########## CONTENT ########## */

#content{
    width: 828px;
    
    margin: auto;
    margin-top: 32px;
    
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 22px;
    padding-bottom: 32px;
    
    background: #FFF;
    border: 1px #FFF solid;
    border-radius: 1px;

    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    color: #333;
}

/* ### MAP ### */
#map {
    width: 100%;
    height: 520px;
}