/* ### GENERAL ### */

/*
  #F8F8F4 - White
  #2A2A2A - Black 1
  #1B1B1B - Black 2
  #C83B32 - Red
*/



html {
	height: 100%;
}

body {
	margin:0;
	padding-bottom: 64px;
	
	background: #F8F8F4;
	background-image: url('../img/noise_white.png');
	color: #2A2A2A;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: normal;
	font-size: 36px;
	font-family: 'GentiumBookBasicRegular';
	margin-top: 32px;
	margin-bottom: 0;
}

h2 {
	font-weight: normal;
	font-size: 28px;
	font-family: 'GentiumBookBasicRegular';
	margin-bottom: 0;
}

h3 {
    font-weight: normal;
    font-size: 22px;
}

h4, h5, h6{
	font-size: 18px;
	font-weight: normal;
}

p {
    margin-top: 8px;
    margin-bottom: 16px;
}

a {
	text-decoration: none;
	color: #C83B32;
}

a:hover {
	text-decoration: underline;
}

code {
    font-family: 'DejaVu Sans Mono';
    font-size: 18px;

    background: #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

/* ### HEADER ### */

#header {
    height: 32px;
    width: 100%;
    
    background: #1B1B1B;
    font-size: 14px;
}

#headeritems {
    width: 1024px;
    height: 32px;
    margin: auto;

    border-bottom: 1px solid #1B1B1B;
}

.headeritem {
    margin-top: 6px;
    margin-right: 24px;
    float: left;
}

a.headeritem {
    color: #CCC;
}

a.headeritem:hover {
    color: #EEE;
    text-decoration: none;
}

/* ### LOGO ### */
#logo-and-menu {
    width: 100%;
    height: 130px;

    padding-top: 32px;
    
    background-image: url('../img/noise_red.png');
    border-bottom: 2px solid #A11111;
}

#logo-container {
	width: 1024px;
	margin: auto;
	height: 61px;
}

#logo {
    float: left;
    padding-right: 20px;

    font-family: 'GentiumBasicRegular';
    font-size: 68px;
    color: #1B1B1B;
}

#description {
    font-size: 24px;
    padding-top: 26px;
    font-family: 'GentiumBookBasicRegular';
    color: #181818;
}

/* ### MENU ### */

#menu {
	height: 44px;
	width: 1024px;
	margin: auto;
	margin-top: 16px;
	
	font-size: 18px;
}

.menuitem {
	padding-right: 12px;
	margin-top: 14px;
	float: left;
	
	color: #FFF0DF;
}

a.menuitem:hover {
	color: #1B1B1B;
	text-decoration: none;
}

#active {
    color: #1B1B1B;
}

#passive {

}

#home {
    height: 32px;
    width: 32px;
    
    margin-top: 4px;
    margin-right: 12px;
    float: left;
    
    background:transparent url('../img/home.png') center top no-repeat;
}

#home:hover {
    background: transparent url('../img/home_dark.png') center top no-repeat;
}

#ip {
    float: right;
    margin-top: 14px;
    padding-right: 12px;
    
    font-family: 'OpenSans';
}

/* ### SLIDESHOW ### */

#slideshow {
	width: 1024px;
	height: 256px;
	margin: auto;
	margin-top: 32px;
	
	background: #F8F8F8;
}

/* ### CONTENT ### */

#content {
	width: 1024px;
	margin: auto;
	margin-top: 32px;
}

#content-container {
	padding-bottom: 32px;
}
